<mat-toolbar color="primary">
  <mat-toolbar-row class="flex">
    <span class="stretch">Пример кэшированного сервиса</span>
    <button mat-icon-button>
      <mat-icon aria-label="Login">menu</mat-icon>
    </button>
  </mat-toolbar-row>
  <mat-toolbar-row class="cta-row" *ngIf="isRoot | async">
    <button class="back-button" mat-button routerLink="/">
      <mat-icon aria-label="Login">keyboard_arrow_left</mat-icon>
      Вернуться на главную
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>